/*-----------------------
----------------- style added-------------------- */
/*-------------------- font family style ----------------------- */
body{
  font-family: 'DM Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
}
/* *{
    margin: 0;
      padding: 0;
      box-sizing: border-box;
} */
.section-first{
  background-color:#2D25A0;
  width: 100%;
  height: 100%;
}
nav a{
  text-decoration: none;
  padding-left: 30px;
  color: #FFFFFF;

 
}
.login{
 background-color:#E02C6D;
 margin-right: 60px;
 padding-left: 24px;
 padding-right: 24px;
 padding-top: 10px;
 padding-bottom: 10px;
 color: #FFFFFF;
 
 
}
nav{
  display: flex;
  justify-content: space-between;
  padding-top: 42px;
  margin-left: 130px;
  
}
.section-one img{
 
width: 556.01px;
height: 438px;
padding-right: 70px;
padding-top: 65px;
}
.section-one{
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  
}
h1{
  color: #FFFFFF;
  margin-left: 130px;
  font-size: 54px;
  font-weight: 500px;
  line-height: 30px;
   
}
.link-button{
  text-decoration: none;
  background-color: #E02C6D;
  color: #FFFFFF;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 25px;
  margin-top: 500px;
  margin-bottom: 169px;
  margin-left: 130px;
  font-size: 16px;
  
}
.copa-amerika{
  margin-top: 50px;
}
[class ^= "block-"]{
  display: flex;
  flex-direction:row;
  /* flex-grow: calc(3 ,1fr); */
  /* flex-grow: 1; */
  /* flex-basis: calc(100% /3); */
  gap:10vh;
 margin: 80px;

}
[class ^="box-"]{
background-color:#FFE4C4;
  
}

 .head-tag{
   color: black;

 }
p{
  color: gray;
}
 .paragraph-tag{
  width: 50%;
    padding-left: 130px;
 }
 

.pic-box img{
  width: 92%;
  padding-top: 1vw;
  padding-left: 1vw;
  
}
.pic-box{
 
}
.text-box{
  width: 80%;
  padding-left: 1vw;
  padding-bottom: 1vw;
}
h2{
  padding-left: 1vw;
}
footer{
  text-align: center;
  margin-top:50px ;
 
}
.copyright{
  color: black;
}
.logo img{
 width: 50%;
}
.fa-instagram{
  color: gray;
  border:  10px solid rgb(245, 227, 227);
  border-radius: 100%;
  background-size: 100%;
  background-position: center;
}
.fa-dribbble{
  color: gray;
    border: 10px solid rgb(245, 227, 227);
    border-radius: 100%;
    background-size: 100%;
    background-position: center;
}
.fa-twitter{
  color: gray;
    border: 10px solid rgb(245, 227, 227);
    border-radius: 100%;
    background-size: 100%;
    background-position: center;
}
.fa-youtube{
  color: gray;
    border: 10px solid rgb(245, 227, 227);
    border-radius: 100%;
    background-size: 100%;
    background-position: center;
}

